* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
input {
  border: none;
  background-color: transparent;
  outline: none;
}
body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  color: #333;
  background-color: var(--body-color);
}
select {
  border: none;
  outline: none;
}
.navFloats {
  z-index: 100;
}
.floatFixed {
  position: fixed !important;
  top: 0 !important;
}
#navFixed {
  z-index: 100;
}
.active {
  background-color: rgb(46, 121, 46) !important;
}
.active p {
  color: #fff !important;
}
.boxPage {
  background-color: rgb(45, 121, 45) !important;
  color: #fff !important;
}
.loginLink {
  position: fixed ;
  top: 0.5%;
  z-index: 100;
}
:root {
  --body-color: #000000f5;
  --nav-background-color: #000000;
  --nav-button-hover-color: #053;
  --nav-floating-btn-hover-color: #3335;
  --nav-menu-floating-background-color: #141414;--nav-menu-floating-btn-border-color: #222;
  --nav-input-background-color: #85858549;
  --nav-input-focus-color: #ffffff35;
  --nav-button-background-color: #0d6b25;
  --nav-menu-floating-btn-hover-color: #2228;
  --font-nav-button-hover-color: #fff;
  --placeholder-color: #fff;
  --home-font-color: #00335c;
  --home-button-color: #cccccc;
  --slide-frame-background-color: #111;
  --slide-grid-color: rgb(0, 0, 0);
  --slide-grid-content-color: #1117;
  --slide-grid-content-hover-color: #111;
  --slide-grid-p-color: #fff;
  --slide-frame-p-hover-color: rgba(0, 0, 0, 0.7);
  --slide-frame-span-background-color: #cccccc34;
  --slide-frame-background-pages-color: #000000;
  --slide-frame-description-background-color: #00000075;
  --scroll-bar-color: #ccccccd0;
  --scroll-thumb-color: #575757bb;
  --text-color: #fff;
  --text-color-2: #5eff00;
  --text-color-black: #000000;
  --text-float-nav-color: #fff;
  --footer-background-color: #141414;
  --button-color: #cccccc;
  --button-hover-color: #ffffffb7;
  --button-background-color: #3d3c3c;
  --button-text-color: #ccc;
  --button-border-color: #444;
  --login-color: #086;
  --logOut-color: #f00;
  --logOut-hover-color: #700;
}