* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
input {
  border: none;
  background-color: transparent;
  outline: none;
}
body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  color: #333;
  background-color: var(--body-color);
}
select {
  border: none;
  outline: none;
}
.navFloats {
  z-index: 100;
}
.floatFixed {
  position: fixed !important;
  top: 0 !important;
}
#navFixed {
  z-index: 100;
}
.active {
  background-color: #00ff001d !important;
}
:root {
  --body-color: #222;
  --nav-background-color: #141414;
  --nav-menu-floating-background-color: #5e5e5e;
  --nav-color-button-menu-hover: #8f8f8f;
  --nav-input-background-color: #85858549;
  --nav-input-focus-color: #ffffff75;
  --nav-button-background-color: #61616179;
  --nav-button-hover-color: #ffffff51;
  --nav-button-hover-color-2: #828b82;
  --nav-button-color-2: #225a47;
  --nav-button-color: #c4c4c4;
  --nav-menu-floating-shadow-color: #ccc;
  --font-nav-button-hover-color: #fff;
  --placeholder-color: #fff;
  --home-font-color: #00335c;
  --home-button-color: #cccccc;
  --slide-frame-background-color: #1a1a1a;
  --slide-frame-background-color-2: #242424;
  --slide-grid-color: #000000;
  --slide-grid-content-color: #8d8d8d38;
  --slide-grid-hover-color: #151515;
  --slide-frame-p-background-color: rgba(5, 5, 5, 0.712);
  --slide-frame-p-hover-color: rgba(0, 0, 0, 0.7);
  --slide-frame-span-background-color: #cccccc34;
  --slide-frame-background-pages-color: #000000;
  --scroll-bar-color: #ccccccd0;
  --scroll-thumb-color: #575757bb;
  --text-color: #ccc;
  --text-color-black: #000000;
  --footer-background-color: #141414;
  --button-color: #cccccc;
  --button-hover-color: #ffffffb7;
  --button-background-color: #3d3c3c;
}