* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: rgb(0, 255, 255) !important;
}
ul {
  list-style: none;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
input {
  border: none;
  background-color: transparent;
  outline: none;
}
body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  color: #333;
  background-color: var(--body-color);
}
select {
  border: none;
  outline: none;
}
.navFloats {
  z-index: 100;
}
.floatFixed {
  position: fixed !important;
  top: 0 !important;
}
#navFixed {
  z-index: 100;
}
.active {
  background-color: #161616 !important;
}
.active p {
  color: #ccc !important;
}
.activeBoxPage {
  background-color: #0d6b25 !important;
  color: #fff !important;
  font-weight: 900;
}
:root {
  --body-color: #222;
  --nav-background-color: #141414;
  --nav-menu-floating-background-color: #333333;
  --nav-input-background-color: #85858549;
  --nav-input-focus-color: #ffffff75;
  --nav-button-background-color: #0d6b25;
  --nav-button-hover-color: #04682b7c;
  --nav-floating-btn-hover-color: #3333337c;
  --nav-menu-floating-btn-hover-color: #2228;
  --font-nav-button-hover-color: #fff;
  --placeholder-color: #fff;
  --home-font-color: #00335c;
  --home-button-color: #cccccc;
  --slide-frame-background-color: #1a1a1a;
  --slide-frame-background-color-2: #242424;
  --slide-grid-color: #0009;
  --slide-grid-content-color: #8d8d8d38;
  --slide-grid-hover-color: #151515;
  --slide-grid-p-color: #999;
  --slide-frame-p-background-color: rgba(5, 5, 5, 0.712);
  --slide-frame-p-hover-color: rgba(0, 0, 0, 0.7);
  --slide-frame-span-background-color: #cccccc34;
  --slide-frame-background-pages-color: #000000;
  --scroll-bar-color: #ccccccd0;
  --scroll-thumb-color: #575757bb;
  --text-color: #ccc;
  --text-color-black: #000000;
  --text-float-nav-color: #fff;
  --footer-background-color: #141414;
  --button-color: #cccccc;
  --button-hover-color: #ffffffb7;
  --button-background-color: #3d3c3c;
  --button-text-color: #ccc;
}